
.page{
    border: 5px double #4b4f50;
    border-radius: 20px;
    margin-bottom: 20px;
}
.storyArea{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}
#play{
    margin: 1rem;
    border: 2px solid #688fa0;
    border-radius: 40px;
    height: fit-content;
    background-color: #4b4f50;
    padding: 6px;
    color: #688fa0;
}
.bi, .bi-play-fill{
    width: 16px;
    height: 16px;
}
.text{
    width: 50%;
}
.image{
    justify-content: center;
}
.next, .previous{
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #000000;
    height: 100%;
}
.next:hover{
    background-color: #c2bdbd;
}
.previous:hover{
    background-color: #c2bdbd;
}

@media screen and (min-width: 450px){
    .page{
        display: flex;
    }
    .storyArea{
        font-size: 12px;
        width: 40%;
    }
    .imageArea{
        width: 60%;
    }
    .bi, .bi-play-fill{
        width: 24px;
        height: 24px;
    }
    #play{
        padding: 8px
    }
}

@media screen and (min-width: 700px){
    .storyArea{
        font-size: 16px;
    }
}
