body{
    font-family: 'Roboto', sans-serif;
    padding: 2% 5%;
    background-color: #74d6c1;
}
h1{
    text-align: center;
}
/*story book design*/
.storyBook{ 
    width: 35%;
    display: inline-block;
    margin: 16px;
    text-align: center; 
}
img{
    margin: 4px;
}
/* story book colour one */
.redBook{
    background-color: #a00505;
    color: #be9494;
    transform: rotate(2deg);
}
.redImg{
    background-color: #be9494;
}
/* story book colour two */
.blueBook{
    background-color: #355bc5;
    color: #c6cddf;
    transform: rotate(-3deg);
}
.blueImg{
    background-color: #c6cddf;
}
/* story book colour three */
.greenBook{
    background-color: #216e24;
    color: #9dbb9f;
    transform: rotate(1deg);
}
.greenImg{
    background-color: #9dbb9f;
}

@media screen and (min-width: 485px){
    .storyBook{
        width: 25%;
    }
}

@media screen and (min-width: 770px){
    .storyBook{
        width: 28%;
    }
}

@media screen and (min-width: 1200px){
    .storyBook{
        width: 30%;
    }
}
