body{
    padding: 2% 4%;
}
.storyArea{
    display: flex;
    font-family: 'Roboto', sans-serif;
}
#play{
    margin: 1rem;
    border: 2px solid #688fa0;
    border-radius: 40px;
    height: fit-content;
    background-color: #4b4f50;
    padding: 8px;
    color: #688fa0;
}
#text{
    width: 50%;
}
.image{
    justify-content: center;
}
